form {
  display: flex;
  flex-direction: column;
}

label {
  padding: 10px;
}

button{
  width: 100px;
  height: 30px;
  margin: 10px;
}

.textError{
  display: none;
  padding: 10px 0;
  color: red;
  font-size: 13px;
 }

 .invalid > .textError{
   display: block;
 }

 .invalid > input{
  border: red 2px solid;
 }

 .valid > input{
  border: green 2px solid;
 }
